body {
    background-color: #F6E5DC;
    font: Tahoma;
}
#baner {
    background-color: #2F180C;
    text-align: center;
    color: white;
    height: 60px;
}
#panel_lewy {
    width: 60%;
    float: left;
}
#panel_prawy {
    font-size: 200%;
    padding: 50px;
}
#panel_dolny {
    background-color:  #D0B6A8;
    text-align: center;
    padding: 30px;
}

#stopka {
    background-color: #2F180C;
    color: white;
    height: 60px;
}

img {
   height: 400px;
}

li{
    list-style-type: circle;
}
