#banner {
    background-image: url(menu.jpg);
    color: blue;
    font-size: 200px;
}

#panel_lewy {
    background-color: rgb(255,218,65);
    text-align: center;
    width: 40%;
    height: 400px;
}

#panel_srodkowy {
    background-color: rgb(255,226,100);
    text-align: center;
    width: 30%;
    height: 400px;
}

#panel_prawy {
    background-color: rgb(255.233.143);
    text-align: center;
    width: 30%;
    height: 400px;
}

footer {
    background-color: rgb(255,218,65);
    color: blue;
}

a {
    color: green;
}

p {
    font-size: 130%;
}
